<!DOCTYPE html>
<html>
<head>
  <title>Trixx</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body id="page-top">
<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa fa-address-card"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Trixx</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fa fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
      Management
    </div>

    <li class="nav-item">
      <a class="nav-link" href="/user/users">
        <i class="fa fa-user"></i>
        <span>Users</span>
      </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
      Daten
    </div>

    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fa fa-fw fa-table"></i>
        <span>Tabellen</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fa fa-bell"></i>
        <span>Events</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fa fa-exclamation-triangle"></i>
        <span>Fehler</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">
  </ul>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <div class="topbar-divider d-none d-sm-block"></div>
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <% if user_signed_in? %>
              <a href="<%= destroy_user_session_path %>" data-method="delete">
                <i class="fa fa-user"></i>
                <span>Logout</span>
              </a>
            <% else %>
              <a href="<%= new_user_session_path %>">
                <i class="fa fa-sign-in"></i>
                <span>Login</span>
              </a>
            <% end %>
          </li>
        </ul>
      </nav>

      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>

    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Otto Group Solution Provider GmbH 2019</span>
        </div>
      </div>
    </footer>
  </div>
</div>

</body>
</html>
